{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/gestion_subastas.css') }}">
{% endblock %}


{% block title %}Editar Subasta{% endblock %}

{% block body %}
<div class="container mt-4">
    <h2>Editar Subasta</h2>

    <form action="{{ path('editar_subasta', {id: subasta.id}) }}" method="post" enctype="multipart/form-data" class="mt-3">
        {% for message in app.flashes('success') %}
            <div class="flash-success">{{ message }}</div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="flash-error">{{ message }}</div>
        {% endfor %}
        <div class="mb-3">
            <label class="form-label">Nombre del Producto</label>
            <input type="text" name="producto_nombre" class="form-control" value="{{ subasta.producto.nombre }}">
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">Descripción</label>
            <textarea name="producto_descripcion" class="form-control" rows="4" style="width: 500px;">{{ subasta.producto.descripcion }}</textarea>
        </div>
        <br>
        <div class="mb-3">
            <label class="form-label">Imagen (subir solo si querés reemplazar la actual)</label>
            <input type="file" name="producto_imagen" class="form-control">
            {% if subasta.producto.imagen %}
                <small class="text-muted">Imagen actual: 
                    <img src="{{ asset('uploads/productos/' ~ subasta.producto.imagen) }}" alt="{{ subasta.producto.nombre }}" style="width:20%;">
                </small>
            {% endif %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
        <a href="{{ path('gestionar_subastas') }}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
