
{% extends 'base.html.twig' %}

    {% block body %} 
    {% include 'header.html.twig' %}
        <main>
            <h2 class="title"> Lista de Productos </h2>
            <div class="productos" >
            {% for producto in productos %}
                <div class="producto">
                    <img src="{{ producto.imagen }}">
                    <p>{{ producto.nombre }}</p>
                    <p>{{ producto.descripcion }}</p>
                    <div class="boton_precio">
                        <a href="{{ path('detalle_producto', {id: producto.id}) }}">
                            Ver Detalles
                        </a>
                        
                        <p>Precio: {{ producto.precio }}$</p> 
                    </div>
                </div> 
            {% endfor %}
            </div>
        </main>
    {% endblock %}