{% block stylesheets %}  
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}
{% block body %}
    
    <form action="{{ path('app_login') }}" method="post">
    {% for message in app.flashes('success') %}
        <div class="flash-success">{{ message }}</div>
    {% endfor %}
    <a href=" {{ path('app_login') }} ">
        <img src="{{ asset('images/sprite pagina azul.png') }}" alt="BubuTech logo">
    </a>
    {% if error %}
        <div class="msg-error">Usuario o contraseña incorrecta</div>
    {% endif %}
        <label for="username">Nombre de Usuario:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}"/>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="_password"/>
        <button type="submit">Ingresar</button>
        <p><strong>¿No tenes cuenta?</strong></p>
        <div>
            <a href="{{ path('app_registro') }}" class="btn-registrar-link">¡Registrate!</a>  
        </div> 
        <br>
        <div>
            <a href="{{ path('app_recuperar') }}" style="color: #0056b3;">¿Olvidaste tu contraseña?</a>
        </div>  
    </form>
        
{% endblock %}
